@{
    ViewBag.Title = "Sobre";
}

<div class="container">
    <img src="https://user-images.githubusercontent.com/97753966/179070489-1e5635cf-94a1-49f0-9931-5334c44ae3a3.gif" alt="Dotnet" align="right" />
    <h1>Site de uso pessoal.</h1>

    <h2 align="left">Hi, I'm João Pedro, programming and design content creator!</h2>

    <br />

    <h3>- 🔥 Beginning web developer</h3>

    <h3>- 🔭 I’m currently looking for work!</h3>

    <h3>- 💬 Ask me about <b>Python, HTML, CSS, C#, Photoshop or Ilustrator</b></h3>

    <br />
</div>

<h3>&#127756 <b>Tech Stacks</b></h3>

<div style="display: inline_block">
    <br>
    <img align="middle" alt="JP-JS" height="30" width="40" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-original.svg">
    <img align="middle" alt="JP-Python" height="30" width="40" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/python/python-original.svg">
    <img align="middle" alt="JP-Csharp" height="30" width="40" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/csharp/csharp-original.svg">
    <img align="middle" alt="JP-Dotnet" height="30" width="40" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/dotnetcore/dotnetcore-original.svg">
    <img align="middle" alt="JP - HTML5" height="30" width="40" src="https://raw.githubusercontent.com/devicons/devicon/1119b9f84c0290e0f0b38982099a2bd027a48bf1/icons/html5/html5-original.svg">
    <img align="middle" alt="JP - CSS" height="30" width="40" src="https://raw.githubusercontent.com/devicons/devicon/1119b9f84c0290e0f0b38982099a2bd027a48bf1/icons/css3/css3-original.svg">
</div>
<div style="display: inline_block">
    <br>
    <img align="middle" alt="JP- Photoshop" height="30" width="40" src="https://raw.githubusercontent.com/devicons/devicon/1119b9f84c0290e0f0b38982099a2bd027a48bf1/icons/photoshop/photoshop-line.svg">
    <img align="middle" alt="JP- Ilustrator" height="30" width="40" src="https://raw.githubusercontent.com/devicons/devicon/1119b9f84c0290e0f0b38982099a2bd027a48bf1/icons/illustrator/illustrator-line.svg">
    <img align="middle" alt="JP-After effects" height="30" width="40" src="https://raw.githubusercontent.com/devicons/devicon/1119b9f84c0290e0f0b38982099a2bd027a48bf1/icons/aftereffects/aftereffects-original.svg">
</div>
