@{
    ViewBag.Title = "Contatos";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Git Hub: <a href="https://github.com/J3ipy">J3ipy</a>
    <br />
    <abbr title="Telefone">Tel:</abbr>
    (79) 99964-1631
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:pedrosant1905@gmail.com">pedrosant1905@gmail.com</a><br />
</address>