@{
    ViewBag.Title = "Contatos";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="container">
        <h4>
            <img src="https://raw.githubusercontent.com/gist/J3ipy/15e97e32c09716bc32c405505bf5ad55/raw/262e8061ed9cfd6de11cddcc2256d588b02e2f73/githubcard.svg" alt="Dotnet" width="400" align="right" padding="500" margin-botton="200">
            Git Hub: <a href="https://github.com/J3ipy">J3ipy</a>
            <br />
            Tel: (79) 99964-1631
            <br />
            <strong>Suporte:</strong>   <a href="mailto:pedrosant1905@gmail.com">pedrosant1905@gmail.com</a><br />
        </h4>
</div>