@{
    ViewBag.Title = "Meu Site";
}

<div class="jumbotron">
    <h1>ASP.NET Framework</h1>
    <p class="lead">Site feito pelo template do ASP NET Framework.</p>
    <p><a href="https://asp.net" target="_blank" class="btn btn-primary btn-lg">Saiba mais &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Site ASP NET</h2>
        <p>
            ASP NET MVC é uma plataforma muito interessante para modelagem de
            sistemas baseado na estrutura de MODEL, VIEW, CONTROLLING.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865" target="_blank">Saiba mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>SQL</h2>
        <p>Aprenda sobre SQL de um jeito muito fácil e rápido nesse site.</p>
        <p><a class="btn btn-default" href="https://www.w3schools.com/sql/default.asp" target="_blank">Saiba mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Git Hub</h2>
        <p>Me siga no GitHub.</p>
        <p><a class="btn btn-default" href="https://github.com/J3ipy" target="_blank">Saiba mais  &raquo;</a></p>
    </div>
</div>